# Python
__pycache__/
*.pyc

# Virtual environment
backend/venv/

# Environment variables
.env

# Vector store & uploads
backend/vector_store/
backend/uploads/

# OS / editor junk
.DS_Store
.vscode/

